* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    background-color: #ddd;
    color: black;
    padding: 40px;
}

a {
    text-decoration: none;
}

nav {
    z-index: 100;
    position: absolute; /* Move navbar out of the document flow to prevent the sudden quick movement as the navigation bar gets a new position */
    width: 100%;
}

nav ul {
    padding-inline-start: 0;
    margin: 0;
    background-color: #3c3c3c;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
nav a {
    font-size: 1.2rem;
    display: block;
    color: #fff;
    padding: 1.4rem 0;
    text-decoration: none;
    width: max(7rem, 20vw);
    height: 4rem;
    text-align: center;
    position: relative;
}

nav a::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background-color: #ddd;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

nav a:hover::after {
    left: 0;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.hover {
    color: #3c3c3c;
    background-color: #ddd;
    font-weight: bolder;
}