* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
}

#profile-img {
    height: 50vmin;
    min-height: 60%;
}

#about-me {
    padding: 1rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #111;
    color: #eee;
    height: 80vh;
    min-height: 500px;
}

#about-me div {
    width: 70%;
}

h2 {
    font-size: 2.5rem;
    margin: 0;
}

p {
    font-size: 2rem;
}

#about-web {
    color: #111;
    height: 50vh;
    min-height: 300px;
}

.about-web-area {
    width: 70%;
    background-color: #eee;
    padding: 1rem;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.like-area {
    background-color: #e4dae5;
    width: 30%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    padding: 2rem;
    position: relative;
}

@media (max-width: 632px) {
    #about-web {
        color: #111;
        height: 50vh;
        min-height: 300px;
    }
    
    .about-web-area {
        width: 100%;
        background-color: #eee;
        padding: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .like-area {
        background-color: #e4dae5;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        align-items: center;
        padding: 2rem;
        position: relative;
    }
}

.like-area h2 {
    position: absolute;
    top: 2rem;
}

svg {
    width: 160px;
    height: 90px;
}

path {
    pointer-events: fill;
}

path:hover {
    cursor: pointer;
}

@keyframes heart-change-liked {
    0% {
        width: calc(160px * 0.9);
        height: calc(90px * 0.9)
    }
    50% {
        width: calc(160px * 1.1);
        height: calc(90px * 1.1)
    }
    100% {
        width: 160px;
        height: 90px;
    }
}

@keyframes heart-change-unliked {
    0% {
        width: calc(160px * 0.9);
        height: calc(90px * 0.9)
    }
    50% {
        width: calc(160px * 1.1);
        height: calc(90px * 1.1)
    }
    100% {
        width: 160px;
        height: 90px;
    }
}

.heart-animation-liked {
    animation: heart-change-liked 0.2s linear;
}

.heart-animation-unliked {
    animation: heart-change-unliked 0.2s linear;
}

footer {
    color: black;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 10px;
}

footer a {
    color: grey;
    text-decoration: none;
    font-weight: bold;
}
  
footer a:visited {
    color: grey;
}
  
footer a:hover, a:active {
    color: blue;
}

footer p {
    margin: 10px;
}