@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #000;
}

main {
    display: grid;
    grid-template-areas: "menu content sidebar";
    grid-template-columns: minmax(0,1fr) minmax(0,2.5fr) minmax(0,15rem);
    gap: 2rem;
    margin-top: 5rem;
    color: #ddd;
    line-height: 1.4;
}

h2 {
    font-size: 2.5rem;
}

section:not(:first-of-type) {
    margin-top: 4rem;
}

section h2 {
    padding-top: 4rem;
    margin: -4rem 0 1rem 0;
}

.sidebar-container {
    display: contents;
    z-index: auto;
}

.menu, .sidebar {
    padding: 0 1rem;
    line-height: 3;
    max-height: 80vh;
    position: sticky;
    top: 4rem;
    grid-area: menu;
    overflow-y: auto;
}

.sidebar-container h2 {
    font-size: 2rem;
    color: #bdbdbd;
    line-height: normal;
    margin: 1rem;
}

.menu h3 {
    font-size: 1.5rem;
    color: #bdbdbd;
    line-height: normal;
    margin: 1rem 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding-inline-start: 2rem;
}

.menu > ul {
    padding-inline-start: 1.5rem;
}

a {
    text-decoration: none;
}

.menu a {
    color: #bbb;
    display: block;
    padding: 0 1rem;
    border-left: 2px solid #ccc;
}

.focus {
    font-weight: bolder;
    background-color: #322944;
    border-left: 2px solid #a88bf8 !important;
    color: #ddd;
}


header {
    font-size: 2.5rem;
}

.sub-head {
    font-size: 1.5rem;
    margin: 0;
    padding-left: 1rem;
    color: #d1d1d1;
}

.section-content {
    margin: 1rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.section-content h3{
    font-weight: bolder;
    display: inline;
}

.location {
    font-style: normal;
}

.section-content a {
    color: #ccc;
    text-decoration: underline;
}

.section-content a:visited {
    color: #ccc;
}

.section-content a:hover, .section-content a:active {
    color: #aa95d0;
}

.section-content img {
    width: 80%;
    margin: 1rem auto 0;
}

.content {
    grid-area: content;
}

.sidebar {
    grid-area: sidebar;
}

/* Change after college admission */
#college div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}

#college h1 {
    font-size: 3rem;
}